.reasons {
  margin-top: 30px;
  line-height: 21px;

  @media (min-width: @desktop-width) {
    margin-top: 28px;
  }
}

.reasons__list {
  .none-indent;
  display: flex;
  flex-wrap: wrap;
}

.reasons__list-title {
  .none-indent;
  .font-var(18px, 26px, 700);

  @media (min-width: @tablet-width) {
    .none-indent;
    .font-var(21px, 26px, 700);
  }

  @media (min-width: @desktop-width) {
    .none-indent;
  }
}

.reasons__list-number {
  .none-indent;
  padding-top: 10px;
  padding-bottom: 4px;

  @media (min-width: @tablet-width) {
    padding-top: 12px;
    padding-bottom: 10px;
  }
}
