.reasons-item-style() {
  padding-top: 26px;
  padding-bottom: 11px;
  padding-right: 31px;
  padding-left: 31px;
  background-color: @grey-background;
}

// Viewports
@tablet-width: 768px;
@desktop-width: 1200px;
